.comment {
    margin-bottom: 20px;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    background-color: var(--gray-200);
}

.comment__username {
    color: var(--gray-900)
}

.comment__text {
    background-color: var(--gray-50);
    padding: 20px;
}