.art-details {
    display: flex;
    gap: 20px;
}

.art-header {
    text-align: center;
}

.art-details-image-wrapper {
    width: 100%;
}

.art-details-img {
    width: 100%;
    object-fit: contain;
}

.art-info-text {
    font-weight: 500;
}