.art-details-title, .art-details-year {
    text-align: center;
}

.art-details {
    display: flex;    
    justify-content: space-between;
}

.art-details-description {
    min-width: 400px;
}

.art-details-img {
    margin-bottom: 50px;
}

.comments__heading {
    margin-bottom: 10px;
}