.artist__artwork {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.artist__painting-container {
    width: 500px;
    height: 500px;
}

.artist__painting {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

